.calculator {
  border: 1px solid rgb(124, 121, 121);
  width: 200px;
  border-radius: 5px;
  position: relative;
  left: 40%;
}

.Head{
  font-family:  cursive;
  font-weight: 100;
  position: relative;
  left: 42%;

}